<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
    
    <div class="wrapper">
        <h2>Registration</h2>
        <br><br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <!-- Flash Messages -->
    <form method="POST">
        <div class="input-box">
                <input type="text" name="name" placeholder="Enter your name" required />
            </div>
            <div class="input-box">
                <input type="text" name="email" placeholder="Enter your Email" required />
            </div>
            <div class="input-box">
                <input type="text" name="phoneno" placeholder="Enter phone no:" required />
            </div>
            <div class="input-box">
                <input type="password" name="Password" placeholder="Create password" required />
            </div>
            <div class="input-box button">
                <input type="Submit" name="button" value="Register Now" />
            </div>
            <div class="text">
                <h3>Already have an account? <a href="login">Login now</a></h3>
            </div>
        </form>
    </div>
    <script src="../static/js/script.js"></script>
</body>

</html>
